<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
hello and welcome to my site. Pictures and other thinks will  be here.

 <br> good because you will see some weird, cool stuff. like game pictures
 <%= image_tag @user.picture, :height => "150" %><br >