<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
hello and welcome to my site. Pictures and other thinks will  be here.
<br> I love video games but fnaf is my favorite. <br> some games i have is minecraft,gmod and on my phone is clash of clans, boom beach, and many more. <br>
<%= image_tag "http://img2.wikia.nocookie.net/__cb20140830024524/freddy-fazbears-pizza/images/1/17/Output_b2VZwk.gif" , :height => "400" %><br >
JUMP SCARE!!!!!!
<%=image_tag "http://pre01.deviantart.net/66d9/th/pre/i/2015/129/6/a/fnaf_foxy_redraw_by_lulwhutjrdrawz-d8p0srt.png" , :height => "500" %><br >
<br> Foxy is my favorite guy. fnaf great game 5 stars.
<%= image_tag "http://img10.deviantart.net/c018/i/2015/097/8/9/__help_me___fnaf_3___speedpaint_by_snowy_sui-d8orsv1.png", :height => "250" %><br >
coolpicture right <br> no
 <br> what are you saying right now.
<br> thanks to my family member lisa check out here page link will be here if you want an idea how i made this  <%= link_to 'click here', "https://github.com/crowdpublishtv/crowdpublishtv" %>. and go here to. <br> 
so go there now <%= link_to 'click here', "http://fc08.deviantart.net/fs71/f/2015/014/7/3/chica_saw_what_you_did_____by_gold94corolla-d8dxevc.png" %> <br>
ok now go here for a ming blowing thing <%= link_to 'click here', "http://orig06.deviantart.net/2dc1/f/2014/340/9/5/_mlgmontage__by_romenx-d88ynf7.gif" %> <br>
<%=image_tag "http://orig09.deviantart.net/038d/f/2015/034/e/9/dancing_foxy_chat_icon_by_gold94chica-d8ezk6c.gif" , :height => "250" %><br >
<%=image_tag "http://fc05.deviantart.net/fs71/f/2014/361/f/f/plastic_nightmares_by_jupiterjumper2-d8bezow.gif" , :height =>"250" %> <br>
oh <br>
you want to know what this about right?
 <br> right
 <br> good because you will see some weird, cool stuff. like game pictures
 <%= image_tag @user.picture, :height => "150" %><br >